{{set . "title" "Home"}}
{{append . "moreStyles" "css/question.css"}}
{{append . "moreScripts" "js/script.js"}}


{{template "header.html" .}}

    <div class="container">
        <div class="wrapper">

            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">
                        <img src="/public/img/logo-question.png" alt="logo-question">
                    </a>
                </div>

                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li>
                        <a data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i
                                class="fa fa-bar-chart-o"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b
                                class="fa fa-angle-down"></b></a>

                    </li>
                </ul>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid">
            <!--    <div class="row1 col-sm-4">-->
            <div class="col-md-4 sidebar" id="content">
                <h3>Search</h3>
                <input class="form-control" id="exampleInput" placeholder="Search">

                <p>Chuyên mục</p>

                <div id="dropdown-container">

                </div>

            </div>
            <div class="col-md-8 sidebar" id="content1">
                <!--        <div class="row2 col-sm-8">-->
                <button style="background-color: #02D8FE">
                    <span class="btn"> Thêm câu hỏi mới </span>
                </button>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="row">Question</th>
                                <th>Category</th>
                                <th>Type</th>
                                <th>Level</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <!--Table body-->
                        <tbody id="table-body">

                        </tbody>

                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>
            <!-- Kết thúc cột phải -->
        </div>
    </div>

{{template "footer.html" .}}
